.half {
    display: flex;
    justify-content: space-between;
}

.half .item {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    width: 48%;
}

.form-row {
    margin-top: 10px;
}